* {
    box-sizing: border-box;
max-width: 100%;
}

body {
    margin: 40px;
    background-color: #232830;
   
}

#para  {
    color: white;
}
.nav > ul { 
display: flex;
justify-content: space-between;
list-style-type: none;
margin: 20px;
color: white;
}

h1, #para{
    text-align: center;
 }
h1 {
    color: red;
}

 #icon1 {
margin-left: 50px;
margin-left: 30px;
}

#icon2 {
    margin-left: 0px;
}


#icon1, #icon2 {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    color:  #909090;
}
.search {
display: flex;

}
.search > ul {
    
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    list-style-type: none;
    margin-top: 10px;
    color: #909090;
 }



 #catagory {
   display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    margin-right: 30px;
    
   
}
   
    
     

 .no {
 list-style-type: none;
 display: flex;
 flex-direction: row;
 gap: 80px;
 margin-top: 40px;
 }

 #catagory > img {
 border-radius: 50px;

 }

#catagory > div{
    display: block;
    height: 380px;
    width: 350px;
    row-gap: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    }

div > h4 {
    display: block;
}

div > img {
    height: 150px;
    width: 300px;
    
    
}




