* {
    box-sizing: border-box;
}

body {
    margin: 40px;
    background-color: #232830;
}

#para  {
    color: white;
}
.nav > ul { 
display: flex;
justify-content: space-between;
list-style-type: none;
margin: 20px;
color: white;
}

h1, #para{
    text-align: center;
 }
h1 {
    color: red;
}

 #icon1 {
margin-left: 50px;
}

#icon2 {
    margin-left: 0px;
}


#icon1, #icon2 {
    width: 30px;
    height: 30px;
    color:  #909090;
}
.search {
display: flex;

}
.search > ul {
    
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-top: 30px;
    color: #909090;
 }



 #catagory {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     
 }
 
 .no {
 list-style-type: none;
 display: flex;
 flex-direction: row;
 gap: 80px;
 }
 #catagory > img {
 border-radius: 20px;
 }
#catagory > div{
    display: block;
    height: 400px;
    width: 400px;
    row-gap: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    }

div > h4 {
    display: block;
}

div > img {
    height: 150px;
    width: 300px;
    margin: 20px;
    
}

